.upper {
    margin: 75px 0;
    position: relative;
    display: flex;
}

.home-page-left, .home-page-right {
    width: 50%;
    padding: 75px 0;

}

.home-page-right {
    background: url(../assets/images/illustration-working.svg) no-repeat;
    background-size: contain;
    background-position: top 0% right -150px;
}

.home-page-left {
    margin-left: calc((100% - min(90%, 70.5rem))/2);
}

.text-head, .text-smaller {
    display: block;
    line-height: 1.2;
}

.text-head {
    font-size: 3rem;
    font-weight: 700;
}

.text-smaller {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
}

.get-started-area {
    display: block;
    margin: 25px 0;
}

.get-started-area .btn {
    width: 180px;
}

.bottom {
    background-color: hsl(240, 78%, 98%);
}

@media only screen and (max-width : 768px) {
    .homepage {
        background-size: 100% auto;
        background-position: top 0% right -50px;
    }

    .margin-test {
        margin: 200px;
    }

    .text-head, .text-smaller {
        word-spacing: 0;
        line-height: 1;
    }

    .text-head {
        margin: 10px 0;
        display: block;
        font-size: 32px;
        text-align: center;
    }

    .text-smaller {
        margin: 10px 0;
        display: block;
        font-size: 18px;
        text-align: center;
    }

    .get-started-area {
        display: flex;
        justify-content: center;
    }

    .upper {
        flex-direction: column-reverse;
    }

    .home-page-left, .home-page-right {
        width: 100%;
    }

    .home-page-right {
        height: 280px;
        background-size: contain;
        background-position: top 0% right -50px;
    }

    .home-page-left {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}