.link-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    border-radius: 4px;
    background-color: #ffffff;
}

.links {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    width: 100%;
}

.copy-btn {
    margin: 0 15px;
}

/* on button click */
.copy-btn.active {
    animation: copy-animation 1s ease-in-out;
    color: #ffffff;
}

@keyframes copy-animation {
    0% {
        background-color: var(--cyan);
        color: white;
    }

    100% {
        background-color: var(--dark-violet);
        color: white;
    }
}

.short-link, .original-link {
    max-width: 45%;
    overflow: auto;
}

.links .separator{
    display: none;
    margin: 15px 0;
    background-color: rgba(0, 0, 0, 0.116);
}

@media only screen and (max-width : 768px) {
    .link-card {
        flex-direction: column;
    }

    .links {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .copy-btn {
        width: 100%;
        margin: 15px 0;
    }

    .short-link, .original-link{
        max-width: 100%;
    }

    .separator{
        display: block;
    }
}