.shorten {
    position: relative;
    top: -60px;
}

.shorten-banner {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    border-radius: 4px;
}

.input-group {
    margin: 20px;
    width: 100%;
    position: relative;
}

.shorten-button {
    width: calc(15% - 20px);
    height: 40px;
    margin: 0 10px;
    box-sizing: border-box;
}

.invalid {
    transition: all 0.3s ease-in-out;
    outline: 2px solid #d86a76 !important;
}

.shorten-input {
    width: 85%;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 15px;
    border-radius: 4px;
}

.shorten-input:focus {
    transition: all 0.3s ease-in-out;
    outline: 2px solid #2acfcf;
}

.shorten-input::placeholder, .invalid::placeholder {
    color: rgba(0, 0, 0, 0.164);
    font-size: 16px;
    font-weight: 500;
}

.invalid::placeholder {
    color: #d86a76;
}

.invalid-message {
    color: #d86a76;
    font-size: 14px;
    font-weight: 500;
    margin: 10px 0;
}

/* .background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */